body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    background: #eceffc;
    font-family: Montserrat;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    margin-bottom: 5px;
}

.form-content {
    padding-bottom: 15px;
}

.form-content input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
}