body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 98vh;
    background: #eceffc;
    font-family: Montserrat;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin: 0px;
}

.big-text {
    margin-bottom: 0px;
}

.small-text {
    font-size: 10px;
    margin-top: 0px;
}

textarea {
    resize: none;
    background: transparent;
    outline: none;
    color: white;
    width: 278px;
    padding-left: 5px;
    padding-right: 5px;
}

.line {
    width: 285px;
    height: 30px;
    font-size: medium;

}

.form-content input {
  background: transparent;
  border: 0px;
  border-bottom: 2px solid white;
  border-radius: 0px;
  outline: none;
  color: white;
  padding: 0px;
  padding-left: 5px;
  padding-bottom: 3px;  
}

label {
    cursor: pointer;
}

.contract {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    height: 40px;
}

.form-item {
    margin-bottom: 15px;
}

.name, .email {
    margin-bottom: 0px;
}