body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eceffc;
}

form {
    border: 4px double black;
    padding: 10px;
    width: 200px;
    font-size: 15px;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}