body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    background: #eceffc;
    font-family: Montserrat;
}

table { 
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    margin-bottom: 100px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

td, th {
    padding: 8px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}

th {
    background: #b0e0e6; /* Цвет фона */
}

caption {
    padding: 10px;
}


@media (max-width: 660px) {
    table {
        scale: 0.5;
        margin-bottom: 20px;
    }
}