body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 98vh;
    background: #eceffc;
    font-family: Montserrat;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.form-content {
    padding: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}