body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 98vh;
    background: #eceffc;
    font-family: Montserrat;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.form-item {
    margin-bottom: 20px;
}

.form-head {
    margin-bottom: 40px;
}


.line {
    width: 285px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
    color: white;
    padding: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    display: block;
  }
  
  .line:focus {
    outline: none;
  }
  
  .labelText {
    font-size: 18px;
    font-weight: normal;
    color: #969696;
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }


h1 {
    text-align: center;
    margin: 0px;
}

p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
}

.name, .email {
    margin-bottom: 0px;
}

.date {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}

.date span {
    margin-right: 25px;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

label {
    cursor: pointer;
}

.big-text {
    margin-bottom: 0px;
}

.small-text {
    font-size: 10px;
}

textarea {
    box-sizing: border-box;
    resize: none;
    background: transparent;
    outline: none;
    color: white;
    width: 100%;
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
    line-height: 1.5;
}

.contract {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
}

select {
    color: black;
    background: white;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
}

.href {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.1;
}

.href a {
    text-decoration: none;
}

.error {
    color: red;
}

.msg {
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(231, 130, 130);
}

.good {
    font-size: 25px;
    margin-bottom: 20px;
}